// -----[System Wide - Variables]----- //
@import "variables";

// -----[Semantic-UI - https://semantic-ui.com/ / sass-semantic-ui - https://github.com/bloodf/sass-semantic-ui]----- //
@import "semantic_ui";

// -----[Semantic-UI-Calendar - https://github.com/mdehoog/Semantic-UI-Calendar]----- //
@import "semantic-ui-calendar/semantic-ui-calendar";

// -----[SweetAlert 2 - https://limonte.github.io/sweetalert2/]----- //
@import "node_modules/sweetalert2/src/sweetalert2";

// -----[InputMask - https://github.com/RobinHerbots/Inputmask]----- //
/*@import "node_modules/inputmask/css/inputmask";*/

// -----[SlickCarousel - http://kenwheeler.github.io/slick/]----- //
@import "node_modules/slick-carousel/slick/slick.scss";
//@import "node_modules/slick-carousel/slick/slick-theme.scss";

// -----[Default Theme]----- //
@import "default/theme";

.form {

    margin: 50px 0;

    .field {
        margin-bottom: 20px;
    }
    
    .field > label {
        display: block;
        margin: 0em 0em 0.28571429rem 0em;
        color: rgba(0, 0, 0, 0.87);
        font-size: 0.92857143em;
        font-weight: bold;
        text-transform: none;
    }

    .submit {
        margin-top: 10px;
    }
}