@{
    ViewBag.Title = "Front End";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="ui container">
        <div class="ui grid">
            <div class="ui eight wide column stackable middle aligned">
                <form id="contactForm" class="ui form" action="frontend-edit">
                    <div class="row">
                        <div class="column">
                            <h2>Formulario de Contato</h2>
                            <div class="field">
                                <label for="nome">Nome:</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" id="nome" name="nome">
                                </div>
                            </div>
                            <div class="field">
                                <label for="email">Email:</label>
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" id="email" name="email">
                                </div>
                            </div>
                            <div class="field">
                                <label for="telefone">Telefone:</label>
                                <div class="ui left icon input">
                                    <i class="phone icon"></i>
                                    <input class="telefone" type="text" id="telefone" name="telefone">
                                </div>
                            </div>
                            <div class="field">
                                <label for="mensagem">Mensagem:</label>
                                <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <button id="submitContato" type="submit" class="ui button submit primary" tabindex="0">
                                <div class="visible content">Enviar</div>
                            </button>
                            <div class="ui error message"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ui eight wide column">
                <div class="row">
                    <div class="column">
                        <h2>Dados do formulario</h2>
                        <p class="output-nome"></p>
                        <p class="output-email"></p>
                        <p class="output-telefone"></p>
                        <p class="output-mensagem"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>