@{
    ViewBag.Title = "Front End";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="ui container">
        <div class="ui grid">
            <div class="ui eight wide column stackable middle aligned">
                <form id="contactForm" class="ui form">
                    <div class="row">
                        <div class="column">
                            <h2>Editar</h2>
                            <div class="field">
                                <label for="nome">Nome:</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" id="nome" name="nome">
                                </div>
                            </div>
                            <div class="field">
                                <label for="email">Email:</label>
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" id="email" name="email">
                                </div>
                            </div>
                            <div class="field">
                                <label for="telefone">Telefone:</label>
                                <div class="ui left icon input">
                                    <i class="phone icon"></i>
                                    <input class="telefone" type="text" id="telefone" name="telefone">
                                </div>
                            </div>
                            <div class="field">
                                <label for="mensagem">Mensagem:</label>
                                <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <button id="submitSalvar" type="submit" class="ui button submit primary" tabindex="0">
                                <div class="visible content">Salvar</div>
                            </button>
                            <div class="ui error message"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <br>
                             <a href="frontend">Nova mensagem</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <script>
      var campos = ['nome', 'email', 'telefone', 'mensagem'];
      
      $(document).ready( function() {
          getFormValues();
      })

      function getFormValues() {
    $.each(campos, function( index, value ) {
         $('#' + value).val(sessionStorage.getItem(value));
    });    
}  
  </script>>